<div class="section is-main-section">
    <div class="columns is-desktop">
        <div class="column">
            <!-- points card -->
            <div class="card mb-4 has-background-info">
                <header class="card-header">
                  <div class="card-header-title is-size-3 has-text-white">GW{{(apiResponse | async)?.weekId}}</div>
                </header>
                <div class="card-content has-text-white">
                  <div class="tile is-ancestor">
                    <div class="tile is-parent is-vertical">
                      <div class="tile is-child">
                        <div class="level is-mobile is-shrinkable" *ngIf="(apiResponse | async)?.points as points">
                          <div class="level-item has-text-centered">
                            <div>
                              <p class="heading">average</p>
                              <p class="title has-text-white">{{points.average}}</p>
                            </div>
                          </div>
                          <div class="level-item has-text-centered" style="
                                  border-right: solid 1px #000;
                                  border-left: solid 1px #000;
                                ">
                            <div>
                              <p class="heading">points</p>
                              <p class="title has-text-warning is-size-2">{{points.user}}</p>
                            </div>
                          </div>
                          <div class="level-item has-text-centered">
                            <div>
                              <p class="heading">highest</p>
                              <p class="title has-text-white">{{points.highest}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tile is-child">
                        <div class="level is-mobile  is-shrinkable" *ngIf="(apiResponse | async)?.rank as rank">
                          <div class="level-item has-text-centered" style="border-right: solid 1px #000">
                            <div>
                              <p class="heading">Gameweek Rank</p>
                              <p class="title has-text-white">{{rank.gameweek}}</p>
                            </div>
                          </div>
                          <div class="level-item has-text-centered">
                            <div>
                              <p class="heading">Overall rank</p>
                              <p class="title has-text-white">{{rank.overall}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tile is-child">
                        <div class="card">
                          <div class="card-content">graph</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
<!-- formation & captain -->
<div class="card">
    <div class="card-content">
      <div class="tile is-ancestor">
        <div class="tile is-parent is-vertical">
          <div class="tile is-child">
            <div>
              <p class="heading">formation</p>
              <p class="title" *ngIf="(apiResponse | async)?.team?.live as liveLineup">
                {{liveLineup.def.length}}-{{liveLineup.mid.length}}-{{liveLineup.fw.length}}</p>
            </div>
          </div>
          <div class="tile is-child">
            <div class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <div>
                    <p class="heading">Captain</p>
                    <p class="title is-size-5">Player Name</p>
                  </div>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <figure class="image is-64x64">
                    <img class="is-rounded" src="https://bulma.io/images/placeholders/64x64.png" />
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
        </div>
        <div class="column ">
<!-- player pitch -->
<div class="card has-background-primary" *ngIf="(apiResponse | async)?.team?.live as liveLineup">
    <div class="card-content">
      <!-- gk -->
      <pitch-player [players]="liveLineup.gk"></pitch-player>
      <!-- def -->
      <pitch-player [players]="liveLineup.def"></pitch-player>
      <!-- mid -->
      <pitch-player [players]="liveLineup.mid"></pitch-player>
      <!-- fw -->
      <pitch-player [players]="liveLineup.fw"></pitch-player>
    </div>
  </div>
        </div>
        <div class="column is-full-height">
            <div class="box has-background-dark">
<div class="mb-4" >
    <div class="level is-mobile">
        <div class="level-left">
          <div class="level-item">
            <h4 class="title is-4 has-text-white">Transfers</h4>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <h6 class="title is-6 has-text-white">points</h6>
          </div>
        </div>
      </div>
      <div class="buttons">
        <button class="button">Player</button>
        <button class="button">Player</button>
        <button class="button">Player</button>
      </div>
</div>

<div class="mb-4">
    <div class="level is-mobile">
        <div class="level-left">
          <div class="level-item">
            <h4 class="title is-4 has-text-white">Auto Subs</h4>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <h6 class="title is-6 has-text-white">points</h6>
          </div>
        </div>
      </div>
      <div class="buttons">
        <button class="button">Player</button>
        <button class="button">Player</button>
        <button class="button">Player</button>
      </div>
</div>

                <h4 class="title is-4 has-text-white">Summary</h4>
                <div class="card mb-2">
                  <div class="card-content">
                    <div class="level is-mobile">
                      <div class="level-left">points</div>
                      <div class="level-right">
                        <div class="level-item">42</div>
                      </div>
                    </div>
                    <div class="level is-mobile">
                      <div class="level-left">points</div>
                      <div class="level-right">
                        <div class="level-item">42</div>
                      </div>
                    </div>
                    <div class="level is-mobile">
                      <div class="level-left">points</div>
                      <div class="level-right">
                        <div class="level-item">42</div>
                      </div>
                    </div>
                    <div class="level is-mobile">
                      <div class="level-left">points</div>
                      <div class="level-right">
                        <div class="level-item">42</div>
                      </div>
                    </div>
                    <div class="level is-mobile">
                      <div class="level-left">points</div>
                      <div class="level-right">
                        <div class="level-item">42</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card has-background-warning">
                  <div class="card-content">
                    <div class="level is-mobile">
                      <div class="level-left">
                        <div class="level-item">
                          <div>
                            <p class="heading">Top Point Scorer</p>
                            <p class="title is-size-5">Player Name</p>
                          </div>
                        </div>
                      </div>
                      <div class="level-right">
                        <div class="level-item">
                          <figure class="image is-64x64">
                            <img class="is-rounded" src="https://bulma.io/images/placeholders/64x64.png" />
                          </figure>
                        </div>
                      </div>
                    </div>
                    <div class="level is-mobile">
                      <div class="level-item">
                        <div style="
                                background-color: #fff;
                                border-radius: 1.2rem;
                                padding: 5px 10px;
                              ">
                          1
                        </div>
                        <p class="heading">goal</p>
                      </div>
                      <div class="level-item">
                        <div style="
                                background-color: #fff;
                                border-radius: 1.2rem;
                                padding: 5px 10px;
                              ">
                          1
                        </div>
                        <p class="heading">assist</p>
                      </div>
                      <div class="level-item">
                        <div style="
                                background-color: #fff;
                                border-radius: 1.2rem;
                                padding: 5px 10px;
                              ">
                          1
                        </div>
                        <p class="heading">bps</p>
                      </div>
                      <div class="level-item">
                        <div style="
                                background-color: #fff;
                                border-radius: 1.2rem;
                                padding: 5px 10px;
                              ">
                          1
                        </div>
                        <p class="heading">cs</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>