<div class="wrapper">
  <!-- sidebar -->

  <app-sidebar class="navSetting"></app-sidebar>

  <div class="content-wrapper">
    <!-- header -->

    <!-- content -->

    <div style="height: 100%;">
      <!-- breadcrumbs -->
      <!-- <section class="section is-title-bar" style="border-bottom: none;">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <ul>
                        <li>Home</li>
                        <li class="is-capitalized has-text-weight-bold">Dashboard</li>
                    </ul>
                </div>
            </div>
        </div>
    </section> -->


        <router-outlet></router-outlet>

    </div>
  </div>
</div>
