.menu-container{
  position: fixed;
  top: 0;
  margin: auto;
  margin-top: 16px;
  min-width: 300px;
  z-index: 10;
  height: 100vh;
  padding-top: 16px;
}
@media(min-width:1024px){
  .menu-container{
    width: 16.6667%;
    min-width: auto;
  }
}

.p-1{
  padding: 0.75rem!important;
}